*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: beige;
    display: flex;
    align-items: center;
}

.title {
    flex-grow: 1;
    text-align: center;
}

main {
    margin-top: 3em;
}
