*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
}

header {
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: beige;
  display: flex;
  align-items: center;
}

.title {
  flex-grow: 1;
  text-align: center;
}

form,
form > div {
  display: grid;
}

form > div {
  margin-bottom: 10px;
}

button {
  padding: 0.625em;
  font-size: 1.125rem;
  cursor: pointer;
}

form {
  background-color: lightblue;
  padding: 3.7em 0.625em 0.625em; /* 60px 10px 10px */
}
